<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('header.ejs') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Config</title>
    
</head>
<body>

    

    <script>
        var element = document.getElementById("configButton");
        element.classList.add("active");
    </script>
    
</body>
</html>